* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c9bccd;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.menu {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #42134e;
}

.menu h2 {
    color: white;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
.menu a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    color: #ed5deb;
}
.home {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.avatar {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 25px;
}

.home h1 {
    font-size: 38px;
    color: #914897;
}

.linha {
    width: 80px;
    height: 3px;
    background-color: #914897;
    margin: 18px 0;
}

.home p {
    font-size: 26px;
    overflow-y: auto;
    overflow-x: auto;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #42134e;
    color: rgb(255, 255, 255);
    width: 100%;
}